body {
    font-family: "Times New Roman", Times, serif;
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: crimson;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: darkcyan;
}

span {
    font-weight: 900;
    color: darksalmon;
}

.boxes {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-color: darkviolet;
    border-radius: 3em;
    width: 30em;
    
    
}

#box1 {
    background-color: deeppink;
    position: absolute;
}

#box2 {
    background-color: forestgreen;
}

#box3 {
    background-color: rgb(71, 34, 139);
}

#box4 {
    background-color: rgb(139, 111, 34);
}