body {
    font-family: "Times New Roman", Times, serif;
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: crimson;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: darkcyan;
}
span {
    font-weight: 900;
    color: darksalmon;
}